body{
    overflow: hidden;
    background: #3CB371;
}

.galeria {
    height: 60vh; /* Ajuste a altura conforme necessário para reduzir o espaço ocupado pela seção da galeria */
    overflow: hidden; /* Certifique-se de que o conteúdo do carrossel não cause problemas de layout */
}

.galeria .container{
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
}

.imgContainer{
    width: 60%;
    height: 100px;
    position: absolute;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
}

.slide_div{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 30px 0 30px;
}

.imgContainer img{
    position: relative;
    height: 370px;
    width: 240px;
    filter: saturate(10%);
    transition: 0.7s;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 20px;
}

.button{
    position: absolute;
    width: 240px;
    height: 370px;
    transition: 0.7s;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 20px;
}

.button:hover{
    background-color: rgba(0, 0, 0, 0.2);
}

#slider1:target ~ .imgContainer #img1,
#slider1:target ~ .imgContainer #button1{
    width: 300px;
    height: 500px;
    background-color: transparent;
    filter: saturate(100%);
}

#slider2:target ~ .imgContainer #img2,
#slider2:target ~ .imgContainer #button2{
    width: 300px;
    height: 500px;
    background-color: transparent;
    filter: saturate(100%);
}

#slider3:target ~ .imgContainer #img3,
#slider3:target ~ .imgContainer #button3{
    width: 300px;
    height: 500px;
    background-color: transparent;
    filter: saturate(100%);
}

#slider4:target ~ .imgContainer #img4,
#slider4:target ~ .imgContainer #button4{
    width: 300px;
    height: 500px;
    background-color: transparent;
    filter: saturate(100%);
}

#slider5:target ~ .imgContainer #img5,
#slider5:target ~ .imgContainer #button5{
    width: 300px;
    height: 500px;
    background-color: transparent;
    filter: saturate(100%);
}
#slider1:target ~ .imgContainer{
    left: 60%;
}
#slider2:target ~ .imgContainer{
    left: 40%;
}
#slider3:target ~ .imgContainer{
    left: 20%;
}
#slider4:target ~ .imgContainer{
    left: 0%;
}
#slider5:target ~ .imgContainer{
    left: -20%;
}

/*footer*/
.rodape .footer {
    background-color: #DAA520;
    text-align: center;
    height: 100px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px; 
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1); 
    
}

.footer i{
    color: white;
    font-size: 15px;
    background-color: rgb(17, 104, 219);
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}

.footer p{
    margin-top: 10px;
    color: white;
    font-size: 15px;
}